GITHUB_ORG=your-org-name
GITHUB_TOKEN=your-github-token
PORT=4000
JENKINS_URL=http://your-jenkins-url
JENKINS_USER=your-jenkins-username
JENKINS_PASSWORD=your-jenkins-password
JENKINS_JOB=your-job-name 